WITH CTE AS (SELECT
  COUNT(*) AS row_count
  {% for column in columns %} , {{ column }} {% endfor %}
FROM `{{ project_id }}.{{ dataset_id }}.{{ table_id }}`
WHERE
  submission_date = DATE("{{ partition }}")
  {% for column in columns %} AND {{ column }} IS NULL {% endfor %}
GROUP BY 
  {% for column in columns %} {{ column }} {{ "," if not loop.last else "" }} {% endfor %})

SELECT TO_JSON_STRING(CTE) as additional_information, "{{ project_id }}" as project_id,
"{{ dataset_id }}" as dataset_id,
"{{ table_id }}" as table_id,
"{{ dq_check }}" as dq_check, 
"{{ dataset_owner }}" as dataset_owner,
"{{ slack_alert }}" as slack_alert,
CURRENT_DATE() as created_date
FROM CTE 
WHERE  {{ threshold }}
