
WITH CTE AS (
    {{ params.sql }}
)

SELECT
    '{{ project_id }}' AS project_id,
    '{{ dataset }}' AS dataset,
    '{{ table }}' AS table,
    '{{ dq_check }}' AS dq_check,
    DATE('{{ params.partition }}') AS date_partition,
    CURRENT_DATETIME() AS actual_run_date,
    '{{ params.owner }}' AS owner,
    CAST('{{ params.alert_enabled }}' AS BOOL) AS alert_enabled,
    CAST('{{ params.alert_muted }}' AS BOOL) AS alert_muted,
    TO_JSON_STRING(CTE) AS additional_information,
    '{{ params.run_id }}' AS run_id,
    IF({{ params.condition }}, True, False) AS passed,
FROM CTE
