
WITH CTE AS (
{{sql}}
),

CTE2 AS (
SELECT TO_JSON_STRING(STRUCT(TO_JSON_STRING(CTE) AS additional_information, '''{{ sql }}''' AS sql))  AS additional_information
FROM CTE
WHERE  {{ threshold }}
)

SELECT *, "{{ project_id }}" AS project_id,
"{{ dataset }}" AS dataset,
"{{ table }}" AS table,
"{{ dq_check }}" AS dq_check,
"{{ dataset_owner }}" AS dataset_owner,
"{{ slack_alert }}" AS slack_alert,
CURRENT_DATETIME() AS created_date
FROM CTE2
