
WITH CTE AS (
{{sql}}
),

CTE2 AS (
SELECT TO_JSON_STRING(STRUCT(TO_JSON_STRING(CTE) AS additional_information, '''{{ sql }}''' AS sql))  as additional_information
FROM CTE
WHERE  {{ threshold }}
)

SELECT *, "{{ project }}" as project,
"{{ dataset }}" as dataset,
"{{ table }}" as table,
"{{ dq_check }}" as dq_check, 
"{{ dataset_owner }}" as dataset_owner,
"{{ slack_alert }}" as slack_alert,
CURRENT_DATETIME() as created_date
FROM CTE2
