{% set other_table = params.table.split('.') %}
WITH CTE AS (
    SELECT
        (
            SELECT {{ params.base_table_custom_count if params.base_table_custom_count else "COUNT(*)" }}
            FROM `{{ project_id }}.{{ dataset }}.{{ table }}`
            WHERE DATE({{ params.partition_field }}) = DATE('{{ params.partition }}'){{ "\n\t\tAND " ~ params.base_table_additional_filter if params.base_table_additional_filter else "" }}
        ) AS row_count,
        (
            SELECT {{ params.table_custom_count if params.table_custom_count else "COUNT(*)" }}
            FROM `{{ params.table }}`
            WHERE DATE({{ params.table_partition_field }}) = DATE('{{ params.partition }}'){{ "\n\t\tAND " ~ params.table_additional_filter if params.table_additional_filter else "" }}
        ) AS {{ other_table[2] }}_row_count,
)

SELECT
    '{{ project_id }}' AS project_id,
    '{{ dataset }}' AS dataset,
    '{{ table }}' AS table,
    '{{ params.tier }}' AS tier,
    DATE('{{ params.partition }}') AS date_partition,
    '{{ dim_check_type }}' AS dim_check_type,
    IF({% if params.acceptable_delta %}ABS(row_count - {{ other_table[2] }}_row_count) <= {{ params.acceptable_delta }}{% else%}row_count = {{ other_table[2] }}_row_count{% endif %}, True, False) AS passed,
    '{{ params.owner }}' AS owner,
    TO_JSON_STRING(CTE) AS query_results,
    TO_JSON_STRING('{"other_table":"{{ params.table }}", "other_table_partition_field": "{{ params.table_partition_field }}"}') AS dim_check_context,
    CAST('{{ params.alert_enabled }}' AS BOOL) AS alert_enabled,
    CAST('{{ params.alert_muted }}' AS BOOL) AS alert_muted,
    '{{ params.run_id }}' AS run_id,
    TIMESTAMP_TRUNC(CURRENT_TIMESTAMP(), SECOND) AS actual_run_date,
    '[[dim_check_sql]]' AS dim_check_sql,
FROM CTE
