WITH CTE AS (
  SELECT
    (
    {{ params.metric_1.query }}
    ) AS {{ params.metric_1.name }},
    (
    {{ params.metric_2.query }}
    ) AS {{ params.metric_2.name }},
)

SELECT
  '{{ project_id }}' AS project_id,
  '{{ dataset }}' AS dataset,
  '{{ table }}' AS `table`,
  '{{ params.tier }}' AS tier,
  DATE('{{ params.partition }}') AS date_partition,
  '{{ dim_check_type }}' AS dim_check_type,
  '{{ dim_check_description }}' AS dim_check_description,
  IF({{ params.condition }}, True, False) AS passed,
  '{{ params.owner }}' AS owner,
  TO_JSON_STRING(CTE) AS query_results,
  TO_JSON_STRING(CONCAT('{"condition":"{{ params.condition }}", "delta": ', ABS({{ params.metric_1.name }} - {{ params.metric_2.name }}),'}')) AS dim_check_context,
  CAST('{{ params.alert_enabled }}' AS BOOL) AS alert_enabled,
  CAST('{{ params.alert_muted }}' AS BOOL) AS alert_muted,
  '{{ params.run_id }}' AS run_id,
  TIMESTAMP_TRUNC(CURRENT_TIMESTAMP(), SECOND) AS actual_run_date,
  '[[dim_check_sql]]' AS dim_check_sql,
FROM CTE
