{% set bq_string_friendly_regex = params.regex.replace('\\', '\\\\') %}
WITH CTE AS (
    SELECT
        {% for column in params.columns %}COUNTIF(NOT REGEXP_CONTAINS(CAST({{ column }} AS STRING), r"{{ params.regex }}")) AS {{ column }}_regex_mismatch_count,{% endfor %}
    FROM `{{ project_id }}.{{ dataset }}.{{ table }}`
    WHERE DATE({{ params.partition_field }}) = DATE('{{ params.partition }}')
)

SELECT
    '{{ project_id }}' AS project_id,
    '{{ dataset }}' AS dataset,
    '{{ table }}' AS `table`,
    '{{ params.tier }}' AS tier,
    DATE('{{ params.partition }}') AS date_partition,
    '{{ dim_check_type }}' AS dim_check_type,
    '{{ dim_check_title }}' AS dim_check_title,
    '{{ dim_check_description }}' AS dim_check_description,
    IF({% for column in params.columns %}{{ column }}_regex_mismatch_count{{ "" if loop.last else " + " }}{% endfor %} = 0, True, False) AS passed,
    """{{ params.owner }}""" AS owner,
    TO_JSON_STRING(CTE) AS query_results,
    TO_JSON_STRING("""{"regex": "{{ bq_string_friendly_regex }}","columns": "{{ params.columns }}"}""") AS dim_check_context,
    CAST('{{ params.alert_enabled }}' AS BOOL) AS alert_enabled,
    CAST('{{ params.alert_muted }}' AS BOOL) AS alert_muted,
    '{{ params.run_id }}' AS run_id,
    TIMESTAMP_TRUNC(CURRENT_TIMESTAMP(), SECOND) AS actual_run_date,
    '[[dim_check_sql]]' AS dim_check_sql,
FROM CTE
